<p>Login works</p>
<main class="fixed edges-0 box">
  <div class="w-100 px-2 mb-3">
    <div class="box sx-15 mb-2 max-w-400px mx-auto w-100">
      <h1 class="secondary" style="font-weight: 600">Productividad TQ</h1>
      <img height="35" src="assets/images/logo-tq.svg">
    </div>
    <form>
      <div class="mb-15">
        <button class="btn btn-accent-solid w-100" (click)="login()">
          INGRESAR
        </button>
      </div>
    </form>
  </div>
  <div style="position:absolute; bottom:5px; left:5px; font-size:10px;">Versión: {{version()}}</div>
</main>